.Taille {
    width: 3rem;
    height: 2.5rem;
}

.AjoutPanier {
    width: 26rem;
    height: 3rem;
    text-align: center;
    background-color: rgb(61, 168, 61);
    border: 0px;
}

.Taille:hover {
    background-color: rgb(61, 168, 61);
    color: white;
    border: 0px;
}

.Article {
    width: 20rem;
}

.AjoutPanierAccueil {
    background-color: rgb(61, 168, 61);
    color: white;
    border: 0px;
}

a {
    text-decoration: none;
    color: black
}